{{ form_start(form) }}
<style>
	.select2 {
		width: 100% !important;
	}
</style>
<div class="form-row">
	<div class="col-md-3">
    {{ form_label(form.nom, 'Nom') }}
		{{ form_row(form.nom,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.nom) }}
	</div>
	<div class="col-md-3">
		{{ form_label(form.categorie, 'Categorie') }}
		{{ form_row(form.categorie,{'attr': {'class': 'form-control select'}}) }}

		{{ form_errors(form.categorie) }}
		<br>
        
    </div>
    </div>
	<div class="form-row">
    	<div class="col-md-12" >
            {{ form_label(form.description, 'Description') }}
	{{ form_row(form.description,{'attr': {'class': 'form-control'}}) }}
	{{ form_errors(form.description) }}
    	<br>
    </div>
     </div>
	<div class="form-row">
	<div class="col-md-3" >
    <ul class="tags"  data-index="{{ form.files|length > 0 ? form.files|last.vars.path + 1 : 0 }}"
    data-prototype="{{ form_widget(form.files.vars.prototype.path)|e }}">
        {% for tag in form.files %}
            {{ form_label(form.files, 'Photos') }}
		{{ form_row(form.files,{'attr': {'class': ''}}) }}
		{{ form_errors(form.files) }}</div>
        {% endfor %}
    </ul>
    
	<br><br>
    </div>
    </div>
    	<div class="form-row">
	<div class="col-md-3" >
    <br>
         {{ form_label(form.prix, 'Prix') }}
		{{ form_row(form.prix,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.prix) }}</div>

    </div>
    </div>
<br>


<br><br><hr>
<button class="mt-1 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
ou
<a href="{{ path('app_produits_index') }}">Retour à la liste</a>

{{ form_end(form) }}


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
const addTagLink = document.createElement('a')
addTagLink.classList.add('add_tag_list')
addTagLink.href='#'
addTagLink.innerText='Add a tag'
addTagLink.dataset.collectionHolderClass='tags'

document
    .querySelectorAll('ul.tags li')
    .forEach((tag) => {
        addTagFormDeleteLink(tag)
    })
const newLinkLi = document.createElement('li').append(addTagLink)

const collectionHolder = document.querySelector('ul.tags')
collectionHolder.appendChild(addTagLink)

const addFormToCollection = (e) => {
	const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

      const item = document.createElement('li');

      item.innerHTML = collectionHolder
        .dataset
        .prototype
        .replace(
          /__name__/g,
          collectionHolder.dataset.index
        );

      collectionHolder.appendChild(item);

      collectionHolder.dataset.index++;
       addTagFormDeleteLink(item);
}


addTagLink.addEventListener("click", addFormToCollection)

const addTagFormDeleteLink = (item) => {
    const removeFormButton = document.createElement('button');
    removeFormButton.innerText = 'Delete this tag';

    item.append(removeFormButton);

    removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        // remove the li for the tag form
        item.remove();
    });
}
</script>
