{% extends 'base.html.twig' %}

{% block title %}MOBILIER EXPRESS Algérie | Meuble, Chambre, Bureau{% endblock %}

{% block body %}
<style>

.p1 a {
    display: inline-block;
    border-right: 1px solid #444;
    padding: 0 10px;
    line-height: 18px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
</style>
    <div class="page-loader"></div>

    <div class="wrapper">

        <div class="inc:_header.html"><!-- ==================  Navigation (main menu) ================== -->
 
            
                    <!--Use class "navbar-fixed" or "navbar-default" -->
                    <!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->
            
                    <!-- ======================== Navigation ======================== -->
            
                    <nav class="navbar-fixed navbar-sticked">
            
                        <div class="container">
            
                            <!-- ==========  Top navigation ========== -->
            
                            <div class="navigation navigation-top clearfix">
                                <ul>
                                    <!--add active class for current page-->
            
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            
                        
                              
                                   
                                </ul>
                            </div> <!--/navigation-top-->
            
                            <!-- ==========  Main navigation ========== -->
            
                            <div class="navigation navigation-main">
            
                                <!-- Setup your logo here-->
            
                                <a href="{{path('app_index')}}" class="logo"><img width="100%" src="assets/images/logo.svg" alt=""></a>
            
                                <!-- Mobile toggle menu -->
            
                                <a href="#" class="open-menu"><i class="icon icon-menu"></i></a>
            
                                <!-- Convertible menu (mobile/desktop)-->
            
                                <div class="floating-menu">
            
                                    <!-- Mobile toggle menu trigger-->
            
                                    <div class="close-menu-wrapper">
                                        <span class="close-menu"><i class="icon icon-cross"></i></span>
                                    </div>
            
                                    <ul>
                                    <li><a href="{{path('app_index')}}">Accueil</a></li>
                                        <li><a href="{{path('app_about')}}">Mobilier Express</a></li>
                                        
                                        <!-- Multi-content dropdown -->
            
                                
            
                                    
            
                                        <!-- Furniture icons in dropdown-->
            
                                        <li>
                                            <a title="Magasin de meuble Algérie" href="{{path('app_shop')}}">Nos produits <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                                            <div class="navbar-dropdown">
                                                <div class="navbar-box">
            
                                                    <!-- box-1 (left-side)-->
            
                                                    <div class="box-1">
                                                      
                                                        <div class="box">
                                                            <div class="h2">Nos produits</div>
                                                            <div class="clearfix">
                                                                <p> Une large gamme de produits,  des prix imbattables, designs uniques exporez notre magasin et commander dés maintenant votre meuble.</p>
                                                                <a class="btn btn-clean btn-big" href="{{path('app_shop')}}">Explorer</a>
                                                            </div>
                                                        </div>
                                                    </div> <!--/box-1-->
            
                                                    <!-- box-2 (right-side)-->
            
                                                    <div class="box-2">
                                                        <div class="clearfix categories">
                                                            <div class="row">
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-sofa"></i>
                                                                            <figcaption>Canapé</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-armchair"></i>
                                                                            <figcaption>Fauteuil</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                              
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-dining-table"></i>
                                                                            <figcaption>Table à manger</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                         
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-table"></i>
                                                                            <figcaption>Table basse</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>

                                                                
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-media-cabinet"></i>
                                                                            <figcaption>Table TV</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                                                     
            
                                                             
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-bedroom"></i>
                                                                            <figcaption>Chambre</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-nightstand"></i>
                                                                            <figcaption>Table de nuit</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-children-room"></i>
                                                                            <figcaption>Chambre enfant</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-bathroom"></i>
                                                                            <figcaption>Salle de bain</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-wardrobe"></i>
                                                                            <figcaption>Dressing</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-shoe-cabinet"></i>
                                                                            <figcaption>Meuble d'entrée</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-office"></i>
                                                                            <figcaption>Bureau</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                               
                                                              
                                                                
                                                              
                                                            </div> <!--/row-->
                                                        </div> <!--/categories-->
                                                    </div> <!--/box-2-->
                                                </div> <!--/navbar-box-->
                                            </div> <!--/navbar-dropdown-->
                                        </li>
            
                                        <!-- Simple menu link-->
            
                                        <li><a href="">Contact</a></li>
                                    </ul>
                                </div> <!--/floating-menu-->
                            </div> <!--/navigation-main-->
            
                            <!-- ==========  Search wrapper ========== -->
            
                            <div class="search-wrapper">
            
                                <!-- Search form -->
                                <input class="form-control" placeholder="Search...">
                                <button class="btn btn-main btn-search">Go!</button>
            
                                <!-- Search results - live search -->
                                <div class="search-results">
                                    <div class="search-result-items">
                                        <div class="title h4">Products <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>
                                        <ul>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Green corner</span> <span class="category">Sofa</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Laura</span> <span class="category">Armchairs</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Nude</span> <span class="category">Dining tables</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Aurora</span> <span class="category">Nightstands</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Dining set</span> <span class="category">Kitchen</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Seat chair</span> <span class="category">Bar sets</span></a></li>
                                        </ul>
                                    </div> <!--/search-result-items-->
                                    <div class="search-result-items">
                                        <div class="title h4">Blog <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>
                                        <ul>
                                            <li><a href="#"><span class="id">01 Jan</span> <span class="name">Creating the Perfect Gallery Wall </span> <span class="category">Interior ideas</span></a></li>
                                            <li><a href="#"><span class="id">12 Jan</span> <span class="name">Making the Most Out of Your Kids Old Bedroom</span> <span class="category">Interior ideas</span></a></li>
                                            <li><a href="#"><span class="id">28 Dec</span> <span class="name">Have a look at our new projects!</span> <span class="category">Modern design</span></a></li>
                                            <li><a href="#"><span class="id">31 Sep</span> <span class="name">Decorating When You're Starting Out or Starting Over</span> <span class="category">Best of 2017</span></a></li>
                                            <li><a href="#"><span class="id">22 Sep</span> <span class="name">The 3 Tricks that Quickly Became Rules</span> <span class="category">Tips for you</span></a></li>
                                        </ul>
                                    </div> <!--/search-result-items-->
                                </div> <!--/search-results-->
                            </div>
            
                            <!-- ==========  Login wrapper ========== -->
            
                            <div class="login-wrapper">
                                <form>
                                    <div class="h4">Sign in</div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <a href="#forgotpassword" class="open-popup">Forgot password?</a>
                                        <a href="#createaccount" class="open-popup">Don't have an account?</a>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-main">Submit</button>
                                </form>
                            </div>
            
                            <!-- ==========  Cart wrapper ========== -->
            
                            <div class="cart-wrapper">
                                <div class="checkout">
                                    <div class="clearfix">
            
                                        <!--cart item-->
            
                                        <div class="row">
                                       
                               
                                          
                                            <!--cart item-->
            
            
            
                                            <!--cart item-->
            
                                            <div class="cart-block cart-block-item clearfix">
                                                <div class="image">
                                                    <a href="product.html"><img src="assets/images/product-4.png" alt=""></a>
                                                </div>
                                                <div class="title">
                                                    <div><a href="product.html">Green corner</a></div>
                                                    <small>Green corner</small>
                                                </div>
                                                <div class="quantity">
                                                    <input type="number" value="2" class="form-control form-quantity">
                                                </div>
                                                <div class="price">
                                                    <span class="final">$ 1.998</span>
                                                    <span class="discount">$ 2.666</span>
                                                </div>
                                                <!--delete-this-item-->
                                                <span class="icon icon-cross icon-delete"></span>
                                            </div>
                                        </div>
            
                                        <hr>
            
                                        <!--cart prices -->
            
                                        <div class="clearfix">
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Discount 15%</strong>
                                                </div>
                                                <div>
                                                    <span>$ 159,00</span>
                                                </div>
                                            </div>
            
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Shipping</strong>
                                                </div>
                                                <div>
                                                    <span>$ 30,00</span>
                                                </div>
                                            </div>
            
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>VAT</strong>
                                                </div>
                                                <div>
                                                    <span>$ 59,00</span>
                                                </div>
                                            </div>
                                        </div>
            
                                        <hr>
            
                                        <!--cart final price -->
            
                                        <div class="clearfix">
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Total</strong>
                                                </div>
                                                <div>
                                                    <div class="h4 title">$ 1259,00</div>
                                                </div>
                                            </div>
                                        </div>
            
            
                                        <!--cart navigation -->
            
                                        <div class="cart-block-buttons clearfix">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a href="products-grid.html" class="btn btn-clean-dark">Continue shopping</a>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <a href="" class="btn btn-main"><span class="icon icon-cart"></span> Checkout</a>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div> <!--/checkout-->
                            </div> <!--/cart-wrapper-->
                        </div> <!--/container-->
                    </nav>
            </div>

          <!-- ================== Banner ================== -->

        <section class="banner" style="background-image:url(assets/images/gallery-7.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h1 class="h2 title">MOBILIER EXPRESS ALGERIE</h1>
                        <div class="text">
                            <p>
                            Fabricant et distributeur du mobilier d'intérieur en Algérie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========================  Cards ======================== -->

        <section class="cards">

            <!-- === cards header === -->

            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">Design of interiors</h2>
                        <div class="text">
                            <p>Our services team produces interior design solutions</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">
                <div class="row">

                    <!-- === item === -->

                    <div class="col-md-8">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-7.jpg)">
                                <img src="assets/images/blog-1.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Interior design</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-md-4">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-2.jpg)">
                                <img src="assets/images/blog-2.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">3D Modeling</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-md-4">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-3.jpg)">
                                <img src="assets/images/blog-3.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Arhitect serives</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-md-4">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-4.jpg)">
                                <img src="assets/images/blog-4.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Manufacturing</a>
                        </figure>
                    </div>

                    <!-- === item === -->

                    <div class="col-md-4">
                        <figure>
                            <figcaption style="background-image:url(assets/images/blog-5.jpg)">
                                <img src="assets/images/blog-5.jpg" alt="" />
                            </figcaption>
                            <a href="#" class="btn btn-clean">Planning</a>
                        </figure>
                    </div>

                </div> <!--/row-->

            </div> <!--/container-->
        </section>

        <!-- ========================  History ======================== -->

        <section class="history">
            <div class="container">

                <!-- === History header === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h1 class="h2 title">A bit of history</h1>
                            <div class="text">
                                <p>Our architects and designers constantly and carefully monitor the environment, they accept and develop changes, research fashion and architectural, as well as sociological, changes and transform them into unique design.</p>
                            </div>
                        </div>
                    </div>
                </header>

                <!-- === row item === -->

                <div class="row row-block">
                    <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-3.jpg)">
                        <div class="history-title">
                            <h2 class="title">1930</h2>
                            <p>The begining</p>
                        </div>
                    </div>
                    <div class="col-md-7 history-desc">
                        <div class="h5 title">This is how it's began</div>
                        <p>
                            Bust master shore what the sainted store tell stood sitting word thy
                            unbrokenquit tossed more beguiling to rare stood take.
                            Sent that maiden entrance door the and i to if me entrance the startled
                            yore the sainted velvet raven still bird cushioned more then quoth and just a lenore back
                        </p>
                        <p>
                            Leave till the and let nameless lenore the followed or shorn wide mystery quoth agreeing
                            the lore myself soul its nevermore lenore mortals this the still plainly thereat on thinking
                            the door above a have of hesitating longer i and that as mefilled now lord marvelled me i of be.
                        </p>
                    </div>
                </div>

                <!-- === row item === -->
                <div class="row row-block">
                    <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-4.jpg)">
                        <div class="history-title">
                            <h2 class="title">1935</h2>
                            <p>Firs 5 years</p>
                        </div>
                    </div>
                    <div class="col-md-7 history-desc">
                        <div class="h5 title">Love at the first sight</div>
                        <p>
                            Bust master shore what the sainted store tell stood sitting word thy
                            unbrokenquit tossed more beguiling to rare stood take.
                            Sent that maiden entrance door the and i to if me entrance the startled
                            yore the sainted velvet raven still bird cushioned more then quoth and just a lenore back
                        </p>
                    </div>
                </div>

                <!-- === row item === -->
                <div class="row row-block">
                    <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-5.jpg)">
                        <div class="history-title">
                            <h2 class="title">1940</h2>
                            <p>Furniture color palette</p>
                        </div>
                    </div>
                    <div class="col-md-7 history-desc">
                        <div class="h5 title">There are designers out there</div>
                        <p>
                            Bust master shore what the sainted store tell stood sitting word thy
                            unbrokenquit tossed more beguiling to rare stood take.
                            Sent that maiden entrance door the and i to if me entrance the startled
                            yore the sainted velvet raven still bird cushioned more then quoth and just a lenore back
                        </p>
                        <p>
                            Leave till the and let nameless lenore the followed or shorn wide mystery quoth agreeing
                            the lore myself soul its nevermore lenore mortals this the still plainly thereat on thinking
                            the door above a have of hesitating longer i and that as mefilled now lord marvelled me i of be.
                        </p>
                    </div>
                </div>

                <!-- === row item === -->
                <div class="row row-block">
                    <div class="col-md-5 history-image" style="background-image:url(assets/images/blog-6.jpg)">
                        <div class="history-title">
                            <h2 class="title">1950</h2>
                            <p>Employer of the year</p>
                        </div>
                    </div>
                    <div class="col-md-7 history-desc">
                        <div class="h5 title">We love our employees</div>
                        <p>
                            Bust master shore what the sainted store tell stood sitting word thy
                            unbrokenquit tossed more beguiling to rare stood take.
                            Sent that maiden entrance door the and i to if me entrance the startled
                            yore the sainted velvet raven still bird cushioned more then quoth and just a lenore back
                        </p>
                        <p>
                            Leave till the and let nameless lenore the followed or shorn wide mystery quoth agreeing
                            the lore myself soul its nevermore lenore mortals this the still plainly thereat on thinking
                            the door above a have of hesitating longer i and that as mefilled now lord marvelled me i of be.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========================  Banner ======================== -->

        <section class="banner" style="background-image:url(assets/images/gallery-2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 text-center">
                        <h2 class="title">Our story</h2>
                        <p>
                            We believe in creativity as one of the major forces of progress. With this idea, we traveled throughout
                            country to find exceptional artisans and bring their unique handcrafted objects to connoisseurs
                            everywhere.
                        </p>
                        <p>
                            You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own
                            apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.
                        </p>
                        <p><a href="#" class="btn btn-clean">Read full story</a></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========================  Blog Dark ======================== -->

        <section class="blog blog-block">

            <div class="container">

                <!-- === blog header === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h2 class="title">Interior ideas</h2>
                            <div class="text">
                                <p>Keeping things minimal</p>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row">

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">28 Mart 2017</div>
                                    <div class="title">
                                        <h2 class="h3">Creating the Perfect Gallery Wall </h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-2.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">25 Mart 2017</div>
                                    <div class="title">
                                        <h2 class="h3">Making the Most Out of Your Kids Old Bedroom</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image">
                                    <img src="assets/images/project-3.jpg" alt="" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="date">28 Mart 2017</div>
                                    <div class="title">
                                        <h2 class="h3">Have a look at our new projects!</h2>
                                    </div>
                                    <div class="description">
                                        <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the dorm room or you’re finally downsizing after all of your kids have left the nest.</p>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                </div>
                <!--/row-->
                <!--button more-->
                <div class="wrapper-more">
                    <a href="ideas.html" class="btn btn-main">View all posts</a>
                </div>

            </div>
            <!--/container-->
        </section>




        <!-- ========================  Instagram ======================== -->

        <section class="instagram">

            <!-- === instagram header === -->

            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                          <p class="p1">
                <a href="{{path('app_index')}}">Accueil</a><a >Notre société</a><a>Nos produits</a><a>Nous contacter</a><a>CGV</a><a>Mentions</a>
            </p>
            <p class="p2">INTERVENTION: Vers 58 Wilayas,  Oran - Alger - Annaba - Constantine - Batna  - Blida -  Mostaganem ...</p>
                        </div>
                    </div>
                </div>
            </header>

   
<div class="mots-clefs" style="font-size: 10px;
    line-height: 12px;
    color: #999;     width: 1200px;
    margin: 40px auto 25px;
    text-align: center;">
		<p>Vente de meubles - Algérie meubles - Prix chambre  - Chambres algérie 2022 - Canapé - Fauteil  - meilleur magasin meuble 2023- Table TV - Bois - Chambre enfant - Chambre adulte - Table basse -  Table de nuit - Rangement chaussures - Salle de bain - Dressing - Meuble d'entrée - Bureau - Table - Table à manger - Oran - Alger - Annaba - Constantine - Adrar - Chlef - Laghouat - Oum El Bouaghi - Batna - Béjaïa - Biskra - 	Béchar - Blida - Bouira - Tamanrasset - Tébessa - Tlemcen - Tiaret - Tizi Ouzou - 	Alger  - Djelfa - Jijel - Sétif - Saïda - Skikda - Sidi Bel Abbès - Guelma - Médéa - Mostaganem  - M'Sila - Mascara - 	Ouargla - Oran - El Bayadh  - Illizi - 	Bordj Bou Arreridj - Boumerdès - El Tarf - Tindouf - Tissemsilt - El Oued - Khenchela - Souk Ahras - Tipaza - Mila - Aïn Defla - Naâma - Aïn Témouchent -  Ghardaïa - Relizane - meilleur meuble Oran - meuble Tlemcen - Meuble Alger - Blida meubles - Chlef meuble - Béjaïa meuble - Tizi Ouzou meuble - Sétif - Sidi Bel Abbès - Annaba - Guelma - Constantine - Médéa meuble - Mostaganem meuble - Mascara meuble - Boumerdès meuble - Tindouf meuble- Mila - Aïn Témouchent meuble - Ghardaïa - Relizane - Timimoun - Algérie - Adrar - Laghouat - Oum El Bouaghi - Batna - Biskra - Béchar - Bouira - Tamanrasset - Tébessa - Tiaret - Djelfa - Jijel - Saïda - Skikda - M'Sila - Ouargla - El Bayadh - Bordj Bou Arreridj - El Tarf - Tissemsilt - El Oued - Khenchela - chambre Souk Ahras - Tipaza - chambre Aïn Defla - chambre Naâma - Bordj Badji Mokhtar - Ouled Djellal meuble - Béni Abbès meuble - In Salah meuble - Touggourt meuble - Djanet chambre - El M'Ghair chambre - El Meniaa chambre
		</p>
	
	</div>
        </section>

        <div class="inc:_footer.html">

            <footer>
                <div class="container">
    
                    <!--footer showroom-->
                    <div class="footer-showroom">
                  
                    </div>
    
                    <!--footer links-->
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-sm-4 col-md-2">
                                <h5>Parcourir </h5>
                                <ul>
                                    <li><a href="#">Canapées</a></li>
                                    <li><a href="#">Fauteuils</a></li>
                                    <li><a href="#">Tables à manger</a></li>
                                    <li><a href="#">Tables basses</a></li>
                                    <li><a href="#">Tables TV</a></li>
                                    <li><a href="#">Chambres</a></li>
                                    <li><a href="#">Tables de nuit</a></li>
                                    <li><a href="#">Chambres enfant</a></li>
                                    <li><a href="#">Salles de bain</a></li>
                                    <li><a href="#">Dressings</a></li>
                                    <li><a href="#">Meubles D'entrée</a></li>
                                    <li><a href="#">Bureaux</a></li>
                                </ul>
                            </div>
                        
                            <div class="col-sm-4 col-md-2">
                                <h5>Notre compagnie</h5>
                                <ul>
                               
                                    <li><a href="#">Acctualitées</a></li>
                                    <li><a href="#">Á propos</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Mentions légales</a></li>
                                    <li><a href="#">C.C.V</a></li>
                                    <li><a href="#">Plan du site</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-5">
                                <h5>Inscrivez-vous à notre newsletter</h5>
                                <p><i>Ajoutez votre adresse e-mail pour recevoir des offres promotionnelles.</i></p>
                                <div class="form-group form-newsletter">
                                    <input class="form-control" type="text" name="email" value="" placeholder="Adresse électronique">
                                    <input type="submit" class="btn btn-clean btn-sm" value="Souscrire">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="call-us h5">Assistance en ligne<br><br><span class="icon icon-phone-handset"></span> 05 55 86 06 85</div>

                            </div>
                        </div>
                    </div>
    
                    <!--footer social-->
    
                    <div class="footer-social">
                        <div class="row">
                            <div class="col-sm-8">
                                © 2022 MOBILIER EXPRESS &nbsp; DÉVELOPPEMENT WEB: CREATIV &nbsp;  | &nbsp;  <a href="#">Plan du site</a> &nbsp; 
                            </div>
                            <div class="col-sm-4 links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div> 
{% endblock %}
