{% extends 'base.html.twig' %}

{% block title %}MOBILIER EXPRESS | Commande en ligne, Meubles Aglérie  {% endblock %}

{% block body %}


  <div class="page-loader"></div>

   <div class="wrapper">

        <div class="inc:_header.html"><!-- ==================  Navigation (main menu) ================== -->

        <!--Use class "navbar-fixed" or "navbar-default" -->
        <!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

        <!-- ======================== Navigation ======================== -->

         <nav class="navbar-fixed navbar-sticked">
            
                        <div class="container">
            
                            <!-- ==========  Top navigation ========== -->
            
                            <div class="navigation navigation-top clearfix">
                                <ul>
                                    <!--add active class for current page-->
            
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            
                        
                              
                                   
                                </ul>
                            </div> <!--/navigation-top-->
            
                            <!-- ==========  Main navigation ========== -->
            
                            <div class="navigation navigation-main">
            
                                <!-- Setup your logo here-->
            
                                <a href="{{path('app_index')}}" class="logo"><img width="100%" src="assets/images/logo.svg" alt=""></a>
            
                                <!-- Mobile toggle menu -->
            
                                <a href="#" class="open-menu"><i class="icon icon-menu"></i></a>
            
                                <!-- Convertible menu (mobile/desktop)-->
            
                                <div class="floating-menu">
            
                                    <!-- Mobile toggle menu trigger-->
            
                                    <div class="close-menu-wrapper">
                                        <span class="close-menu"><i class="icon icon-cross"></i></span>
                                    </div>
            
                                    <ul>
                                        <li><a href="{{path('app_index')}}">Mobilier Express</a></li>
                                        
                                        <!-- Multi-content dropdown -->
            
                                
            
                                    
            
                                        <!-- Furniture icons in dropdown-->
            
                                        <li>
                                            <a href="category.html">Nos produits <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                                            <div class="navbar-dropdown">
                                                <div class="navbar-box">
            
                                                    <!-- box-1 (left-side)-->
            
                                                    <div class="box-1">
                                                        <div class="image">
                                                            <img src="assets/images/blog-2.jpg" alt="Lorem ipsum">
                                                        </div>
                                                        <div class="box">
                                                            <div class="h2">Nos produits</div>
                                                            <div class="clearfix">
                                                                <p> Une large gamme de produits,  des prix imbattables, designs uniques exporez notre boutique et commander dés maintenant votre meuble.</p>
                                                                <a class="btn btn-clean btn-big" href="ideas.html">Explorer</a>
                                                            </div>
                                                        </div>
                                                    </div> <!--/box-1-->
            
                                                    <!-- box-2 (right-side)-->
            
                                                    <div class="box-2">
                                                        <div class="clearfix categories">
                                                            <div class="row">
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-sofa"></i>
                                                                            <figcaption>Canapé</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-armchair"></i>
                                                                            <figcaption>Fauteuil</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                              
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-dining-table"></i>
                                                                            <figcaption>Table à manger</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                         
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-table"></i>
                                                                            <figcaption>Table basse</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>

                                                                
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-media-cabinet"></i>
                                                                            <figcaption>Table TV</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                                                     
            
                                                             
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-bedroom"></i>
                                                                            <figcaption>Chambre</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-nightstand"></i>
                                                                            <figcaption>Table de nuit</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-children-room"></i>
                                                                            <figcaption>Chambre enfant</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-bathroom"></i>
                                                                            <figcaption>Salle de bain</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-wardrobe"></i>
                                                                            <figcaption>Dressing</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-shoe-cabinet"></i>
                                                                            <figcaption>Meuble d'entrée</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-office"></i>
                                                                            <figcaption>Bureau</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                               
                                                              
                                                                
                                                              
                                                            </div> <!--/row-->
                                                        </div> <!--/categories-->
                                                    </div> <!--/box-2-->
                                                </div> <!--/navbar-box-->
                                            </div> <!--/navbar-dropdown-->
                                        </li>
            
                                        <!-- Simple menu link-->
            
                                        <li><a href="shortcodes.html">Contact</a></li>
                                    </ul>
                                </div> <!--/floating-menu-->
                            </div> <!--/navigation-main-->
            
                            <!-- ==========  Search wrapper ========== -->
            
                            <div class="search-wrapper">
            
                                <!-- Search form -->
                                <input class="form-control" placeholder="Search...">
                                <button class="btn btn-main btn-search">Go!</button>
            
                                <!-- Search results - live search -->
                                <div class="search-results">
                                    <div class="search-result-items">
                                        <div class="title h4">Products <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>
                                        <ul>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Green corner</span> <span class="category">Sofa</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Laura</span> <span class="category">Armchairs</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Nude</span> <span class="category">Dining tables</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Aurora</span> <span class="category">Nightstands</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Dining set</span> <span class="category">Kitchen</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Seat chair</span> <span class="category">Bar sets</span></a></li>
                                        </ul>
                                    </div> <!--/search-result-items-->
                                    <div class="search-result-items">
                                        <div class="title h4">Blog <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>
                                        <ul>
                                            <li><a href="#"><span class="id">01 Jan</span> <span class="name">Creating the Perfect Gallery Wall </span> <span class="category">Interior ideas</span></a></li>
                                            <li><a href="#"><span class="id">12 Jan</span> <span class="name">Making the Most Out of Your Kids Old Bedroom</span> <span class="category">Interior ideas</span></a></li>
                                            <li><a href="#"><span class="id">28 Dec</span> <span class="name">Have a look at our new projects!</span> <span class="category">Modern design</span></a></li>
                                            <li><a href="#"><span class="id">31 Sep</span> <span class="name">Decorating When You're Starting Out or Starting Over</span> <span class="category">Best of 2017</span></a></li>
                                            <li><a href="#"><span class="id">22 Sep</span> <span class="name">The 3 Tricks that Quickly Became Rules</span> <span class="category">Tips for you</span></a></li>
                                        </ul>
                                    </div> <!--/search-result-items-->
                                </div> <!--/search-results-->
                            </div>
            
                       
                        </div> <!--/container-->
                    </nav>
</div>

        <!-- ========================  Main header ======================== -->

        <section class="main-header" style="background-image:url(assets/images/gallery-2.jpg)">
            <header>
                <div class="container text-center">
                    <h2 class="h2 title">Commande en ligne</h2>
                    <ol class="breadcrumb breadcrumb-inverted">
                     <p>Merci de remplire le formulaire ci-dessous, un agent commercial va vous contacter bientôt.</p>
                    </ol>
                </div>
            </header>
        </section>

        <!-- ========================  Step wrapper ======================== -->

     
        <!-- ========================  Checkout ======================== -->

        <section class="checkout">
            <div class="container">

              

     
                <!-- ========================  Delivery ======================== -->

                <div class="cart-wrapper">

                    <div class="note-block">
                        <div class="row">

                            <!-- === left content === -->

                            <div class="col-md-6">

                                <!-- === login-wrapper === -->

                                <div class="login-wrapper">

                                    <div class="white-block">

                                        <div class="login-block login-block-signup">

                                            <div class="h4">Coordonnées</div>

                                            <hr>

                                            <div class="row">
                                                {{ form_start(form) }}
                                                    {{ form_widget(form) }}
                                                    <button class="btn">{{ button_label|default('Save') }}</button>
                                                {{ form_end(form) }}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" value="" class="form-control" placeholder="First name: *">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" value="" class="form-control" placeholder="Last name: *">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">

                                                    <div class="form-group">
                                                        <input type="text" value="" class="form-control" placeholder="Company name:">
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="text" value="" class="form-control" placeholder="Zip code: *">
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input type="text" value="" class="form-control" placeholder="City: *">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" value="" class="form-control" placeholder="Email: *">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" value="" class="form-control" placeholder="Phone: *">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <hr>
                                                <p class="m-n" style="    color: #898a8c;
    font-size: 10px;">
            			En utilisant ce site, vous acceptez les <a href="#">Conditions Générales d’Utilisation</a> de mobilierexpress-dz.com, dont <a>la Politique de Confidentialité</a> et <a> la Politique des Cookies</a>, et autorisez le <a>traitement des données à caractère personnel</a>.
					</p>
                                              
                                                    <hr>
                                                </div>

                                                <div class="col-md-12">
                                                    <a href="#" class="btn btn-main btn-block">Passer la commande</a>
                                                </div>

                                            </div>
                                        </div> <!--/signup-->
                                    </div>
                                </div> <!--/login-wrapper-->
                            </div> <!--/col-md-6-->
                            <!-- === right content === -->

                            <div class="col-md-6">

                                <div class="white-block">
                                  <div class="h4">{{produit.nom}}</div>
                                  <img src="{{ asset('/uploads/' ~ produit.files[0].path)}}" alt="" height="300" /><br><br>
                                  <span style=" color:#c1002c;font-weight: 500;">Prix {{produit.prix}} DA</span>
                                    <hr>
                                   
                                    <div class="clearfix">
                                                     
                                             <p><strong>Informations:</strong></p>
                                        <ul>
                                            <li>Livraison Gratuite et vers toutes les wilayas d'algérie</li>
                                            <li>Montage Gratuit</li>
                                            <li>Paiement à la livraison</li>
                                            
                                        </ul>
                                       
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

        



            </div> <!--/container-->

        </section>



         <div class="inc:_footer.html">

            <footer>
                <div class="container">
    
                    <!--footer showroom-->
                    <div class="footer-showroom">
                  
                    </div>
    
                    <!--footer links-->
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-sm-4 col-md-2">
                                <h5>Parcourir </h5>
                                <ul>
                                    <li><a href="#">Canapées</a></li>
                                    <li><a href="#">Fauteuils</a></li>
                                    <li><a href="#">Tables à manger</a></li>
                                    <li><a href="#">Tables basses</a></li>
                                    <li><a href="#">Tables TV</a></li>
                                    <li><a href="#">Chambres</a></li>
                                    <li><a href="#">Tables de nuit</a></li>
                                    <li><a href="#">Chambres enfant</a></li>
                                    <li><a href="#">Salles de bain</a></li>
                                    <li><a href="#">Dressings</a></li>
                                    <li><a href="#">Meubles D'entrée</a></li>
                                    <li><a href="#">Bureaux</a></li>
                                </ul>
                            </div>
                        
                            <div class="col-sm-4 col-md-2">
                                <h5>Notre compagnie</h5>
                                <ul>
                               
                                    <li><a href="#">Acctualitées</a></li>
                                    <li><a href="#">Á propos</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Mentions légales</a></li>
                                    <li><a href="#">C.C.V</a></li>
                                    <li><a href="#">Plan du site</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-5">
                                <h5>Inscrivez-vous à notre newsletter</h5>
                                <p><i>Ajoutez votre adresse e-mail pour recevoir des offres promotionnelles.</i></p>
                                <div class="form-group form-newsletter">
                                    <input class="form-control" type="text" name="email" value="" placeholder="Adresse électronique">
                                    <input type="submit" class="btn btn-clean btn-sm" value="Souscrire">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="call-us h5">Assistance en ligne<br><br><span class="icon icon-phone-handset"></span> 05 55 86 06 85</div>

                            </div>
                        </div>
                    </div>
    
                    <!--footer social-->
    
                    <div class="footer-social">
                        <div class="row">
                            <div class="col-sm-8">
                                © 2022 MOBILIER EXPRESS &nbsp; DÉVELOPPEMENT WEB: CREATIV &nbsp;  | &nbsp;  <a href="#">Plan du site</a> &nbsp; 
                            </div>
                            <div class="col-sm-4 links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    <div class="scroll-top"><i class="icon icon-chevron-up"></i></div></div>


 {% endblock %}