{% extends 'base.html.twig' %}

{% block title %}MOBILIER EXPRESS | Commande en ligne, Meubles Aglérie  {% endblock %}

{% block body %}
<style>
#commandes_produit{
    display:none;
}
</style>
<style>

.p1 a {
    display: inline-block;
    border-right: 1px solid #444;
    padding: 0 10px;
    line-height: 18px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.icon-cart:before {
   
    color: white !important;
}

</style>
  <div class="page-loader"></div>

   <div class="wrapper">

      {{ block("top", "Menus/top.html.twig") }}

        <!-- ========================  Main header ======================== -->

        <section class="main-header" style="background-image:url(assets/images/gallery-2.jpg)">
            <header>
                <div class="container text-center">
                    <h2 class="h2 title">Commande en ligne</h2>
                    <ol class="breadcrumb breadcrumb-inverted">
                     <p>Merci de remplire le formulaire ci-dessous, un agent commercial va vous contacter bientôt.</p>
                    </ol>
                </div>
            </header>
        </section>

        <!-- ========================  Step wrapper ======================== -->

     
        <!-- ========================  Checkout ======================== -->

        <section class="checkout">
            <div class="container">

              

     
                <!-- ========================  Delivery ======================== -->

                <div class="cart-wrapper">

                    <div class="note-block">
                        <div class="row">

                            <!-- === left content === -->

                            <div class="col-md-6">

                                <!-- === login-wrapper === -->

                                <div class="login-wrapper">

                                    <div class="white-block">
                        
                                  <div class="h4">{{produit.nom}}</div>
                                  <img src="{{ asset('/uploads/' ~ produit.files[0].path)}}" alt="" height="300" /><br><br>
                                  <span style=" color:#c1002c;font-weight: 500;">Prix {{produit.prix}} DA</span>
                                    <hr>
                                   
                                    <div class="clearfix">
                                                     
                                             <p><strong>Informations:</strong></p>
                                        <ul>
                                            <li>Livraison Gratuite et vers toutes les wilayas d'algérie</li>
                                            <li>Montage Gratuit</li>
                                            <li>Paiement à la livraison</li>
                                            
                                        </ul>
                                       
                                    </div>
                                
                                       
                                    </div>
                                </div> <!--/login-wrapper-->
                            </div> <!--/col-md-6-->
                            <!-- === right content === -->

                            <div class="col-md-6">
                            <div class="white-block">
                              <div class="login-block login-block-signup">

                                            <div class="h4">Coordonnées</div>

                                            <hr>

                                            <div class="row">
                                                {{ form_start(form) }}
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                    {{ form_label(form.nom, 'Nom et prénom *') }}
                                                  	{{ form_row(form.nom,{'attr': {'class': 'form-control'}}) }}
	                                            	{{ form_errors(form.nom) }}
                                                    </div>
                                                   
                                                </div>

                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                          {{ form_label(form.Email, 'Email *') }}
                                                  	{{ form_row(form.Email,{'attr': {'class': 'form-control'}}) }}
	                                            	{{ form_errors(form.Email) }}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                                          {{ form_label(form.telephone, 'Téléphone *') }}
                                                  	{{ form_row(form.telephone,{'attr': {'class': 'form-control'}}) }}
	                                            	{{ form_errors(form.telephone) }}
                                                    </div>
                                                </div>

                                                            <div class="col-md-12">
                                                    <div class="form-group">
                                                    {{ form_label(form.adresse, 'Adrésse de livraison *') }}
                                                  	{{ form_row(form.adresse,{'attr': {'class': 'form-control'}}) }}
	                                            	{{ form_errors(form.adresse) }}


                                                  	{{ form_row(form.produit,{'attr': {'class': 'form-control'}}) }}
	                                            	{{ form_errors(form.produit) }}
                                                    </div>
                                                   
                                                </div>

                                               
                                              


                                                <div class="col-md-12">
                                                    <hr>
                                                <p class="m-n" style=" font-size: 10px;">
            			                            En utilisant ce site, vous acceptez les <a href="#">Conditions Générales d’Utilisation</a> de mobilierexpress-dz.com, dont <a>la Politique de Confidentialité</a> et <a> la Politique des Cookies</a>, et autorisez le <a>traitement des données à caractère personnel</a>.
					                            </p>
                                              
                                                    <hr>
                                                </div>

                                                                                                 <button class="btn btn-main btn-block">{{ button_label|default('Passer la commande') }}</button>

                                                {{ form_end(form) }}
                                            </div>
                                        </div> <!--/signup-->
                            </div>
                            </div>

                        </div>
                    </div>
                </div>

        



            </div> <!--/container-->

        </section>


   {{ block("footer", "Menus/Footer.html.twig") }}

    <div class="scroll-top"><i class="icon icon-chevron-up"></i></div></div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>




$( "#commandes_produit" ).val("{{produit.nom}}");

	</script>

 {% endblock %}