{% extends 'base.html.twig' %}

{% block title %}MOBILIER EXPRESS | Magasin de Meuble Algérie, Chambre, Bureau, Dressing Algerie{% endblock %}
{% block description %}<meta name="description" content="Vente en ligne de meuble en algérie, Chambre, Dressing, canapé, Chambre enfant, Meuble d'entrée, Bureaux, Meuble TV, Tables basses, Fauteuil, livraison et montage à domicile en Algérie vers 58 wilayas">{% endblock %}

{% block body %}
<style>

.p1 a {
    display: inline-block;
    border-right: 1px solid #444;
    padding: 0 10px;
    line-height: 18px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.icon-cart:before {
   
    color: white !important;
}

</style>
    <div class="page-loader"></div>

    <div class="wrapper">
{{ block("top", "Menus/top.html.twig") }}


        <!-- ========================  Header content ======================== -->

        <section class="header-content">

            <div class="owl-slider">

                <!-- === slide item === -->

                <div class="item" style="background-image:url({{asset('assets/images/gallery-1.webp')}})">
                    <div class="box">
                        <div class="container">
                            <h2  class="title animated h1" data-animation="fadeInDown">Mobilier Express</h2>
                            <div style="font-size: 18px;" class="animated" data-animation="fadeInUp">
                               <b style="font-size: 25px;">Mobilier Express est le leader du mobilier d'intérieur en Algérie </b><br><br>
                                Nous concevons, fabriquons et vendons nos produits en ligne<br>
                                Nous vous offrons une large gamme de produits à des prix imbattables,<br> designs uniques et vous assurons la livraison à domicile et ce sans aucun engagement au préalable.<br>
                               <br> La livraison et le montage sont assurés vers 58 wilayas <br>
                                Paiement à la livraison.
                                
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a style="font-size: 19px;" href="{{path('app_shop')}}" class="btn btn-main" > Découverez notre magasin en ligne</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url({{asset('assets/images/gallery-2.webp')}})">
                    <div class="box">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">Mobilier Express</h2>
                            <div style="font-size: 18px;" class="animated" data-animation="fadeInUp">
                               <b >Mobilier Express est le leader du mobilier d'intérieur en Algérie </b><br><br>
                                Nous concevons, fabriquons et vendons nos produits en ligne<br>
                                Nous vous offrons une large gamme de produits à des prix imbattables,<br> designs uniques et vous assurons la livraison à domicile et ce sans aucun engagement au préalable.<br>
                               <br> La livraison et le montage sont assurés vers 58 wilayas <br>
                                Paiement à la livraison.
                                
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a style="font-size: 19px;" href="{{path('app_shop')}}"  class="btn btn-main" > Découverez notre magasin en ligne</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url({{asset('assets/images/gallery-3.webp')}})">
                    <div class="box">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">Mobilier Express</h2>
                            <div style="font-size: 18px;" class="animated" data-animation="fadeInUp">
                               <b style="font-size: 25px;">Mobilier Express est le leader du mobilier d'intérieur en Algérie </b><br><br>
                                Nous concevons, fabriquons et vendons nos produits en ligne<br>
                                Nous vous offrons une large gamme de produits à des prix imbattables,<br> designs uniques et vous assurons la livraison à domicile et ce sans aucun engagement au préalable.<br>
                               <br> La livraison et le montage sont assurés vers 58 wilayas <br>
                                Paiement à la livraison.
                                
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a style="font-size: 19px;" href="{{path('app_shop')}}"  class="btn btn-main" > Découverez notre magasin en ligne</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--/owl-slider-->
        </section>

        <!-- ========================  Icons slider ======================== -->

        <section class="owl-icons-wrapper owl-icons-frontpage">

            <!-- === header === -->

            <header class="hidden">
                <h2>Product categories</h2>
            </header>

            <div class="container">

                <div class="owl-icons">

                    <!-- === icon item === -->

                    <a title="Canapé | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Canap%C3%A9">
                        <figure>
                            <i class="f-icon f-icon-sofa"></i>
                            <figcaption>Canapé</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a title="Fauteuil | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Fauteuil">
                        <figure>
                            <i class="f-icon f-icon-armchair"></i>
                            <figcaption>Fauteuil</figcaption>
                        </figure>
                    </a>

     

                    <!-- === icon item === -->

                    <a title="Table à manger | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Table+%C3%A0+manger">
                        <figure>
                            <i class="f-icon f-icon-dining-table"></i>
                            <figcaption>Table à manger</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a title="Meuble Table TV | MOBILIER EXPRESS Magasin de meuble Algérie"  href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Meuble+TV">
                        <figure>
                            <i class="f-icon f-icon-media-cabinet"></i>
                            <figcaption>Table TV</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a title="Table basse | MOBILIER EXPRESS Magasin de meuble Algérie"  href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Tables+basses">
                        <figure>
                            <i class="f-icon f-icon-table"></i>
                            <figcaption>Table basse</figcaption>
                        </figure>
                    </a>

                   

                    <!-- === icon item === -->

                    <a title="Chambre | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Chambre">
                        <figure>
                            <i class="f-icon f-icon-bedroom"></i>
                            <figcaption>Chambre</figcaption>
                        </figure>
                    </a>

          
                    <!-- === icon item === -->

                    <a  title="Chambre enfant | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Chambre+enfant">
                        <figure>
                            <i class="f-icon f-icon-children-room"></i>
                            <figcaption>Chambre enfant</figcaption>
                        </figure>
                    </a>

              

                    <!-- === icon item === -->

                    <a title="Salle de bain | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Salle+de+bain">
                        <figure>
                            <i class="f-icon f-icon-bathroom"></i>
                            <figcaption>Salle de bain</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a  title="Dressing | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Dressing">
                        <figure>
                            <i class="f-icon f-icon-wardrobe"></i>
                            <figcaption>Dressing</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a title="Meuble d'entrée | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Meuble+d%27entr%C3%A9e">
                        <figure>
                            <i class="f-icon f-icon-shoe-cabinet"></i>
                            <figcaption>Meuble d'entrée</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a title="Bureau| MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Bureaux">
                        <figure>
                            <i class="f-icon f-icon-office"></i>
                            <figcaption>Bureau</figcaption>
                        </figure>
                    </a>

             


                </div> <!--/owl-icons-->
            </div> <!--/container-->
        </section>

        <!-- ========================  Products widget ======================== -->

        <section class="products">

            <div class="container">

                <!-- === header title === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h2 class="title">Nouveaux produits</h2>
                            <div class="text">
                                <p>Découvrez nos dernières collections</p>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row">

                    <!-- === product-item === -->
     {%  for produit in produits %}
                    <div class="col-md-4 col-xs-12">

                        <article>
                            <div class="info">
                            
                                <span>
                                    <a href="#productid{{produit.id}}" class="mfp-open" data-title="Aperçu rapide"><i class="icon icon-eye"></i></a>
                                </span>
                            </div>
                            <div class="btn btn-add">
                                <a href="{{ path('app_commande', {'categorie': produit.categorie.nom,'id': produit.nom}) }}"><i class="icon icon-cart"></i></a>
                            </div>
                            <div class="figure-grid">
                                <div class="image">
                                    <a href="#productid{{produit.id}}" class="mfp-open">
                                    {% if produit.files %}
                                        <img data-src="{{ asset('/uploads/' ~ produit.files[0].path) | imagine_filter('my_thumb_webp') }}" alt="{{produit.categorie.nom}} {{produit.nom}}" height="300" class="lazyload" />
                                    {% endif %}
                                    </a>
                                </div>
                                  <div style="padding-left:8px;">
                            
                                 <h2 class="title h4" style="margin-top:8px;margin-bottom:0;padding:0;"><a href="{{ path('app_produit_details', {'categorie': produit.categorie.nom,'id': produit.nom}) }}" style="color:#14233c;">{{produit.nom}}</a></h2>

                                       <span style="color:black;">{{ produit.categorie.nom }}</span>
                                 
                                    <br> <br>
                                 <span style="color:black;position: absolute;margin-top: -10px; color:#c1002c;font-weight: 500;">Prix {{produit.prix}} DA</span>
                                 <br>
                                 </div>
                            </div>
                        </article>
                    </div>
     {% endfor %}
             


                </div> <!--/row-->
                <!-- === button more === -->

                <div class="wrapper-more">
                    <a href="{{path('app_shop')}}" class="btn btn-main">Explorez notre magasin en ligne</a>
                </div>

                <!-- ========================  Product info popup - quick view ======================== -->
 {%  for produit in produits %}
                <div class="popup-main mfp-hide" id="productid{{produit.id}}">

                    <div class="product">

                        <!-- === popup-title === -->

                        <div class="popup-title">
                            <div class="h1 title">{{produit.nom}} <small>{{produit.categorie.nom}}</small></div>
                        </div>

                        <!-- === product gallery === -->

                        <div class="owl-product-gallery">
                        {% for image in produit.files %}
                            <img data-src="{{ asset('/uploads/' ~ image.path)}}" alt="{{produit.categorie.nom}} {{produit.nom}}" width="640" class="lazyload" />
                  
                            {% endfor %}
                        </div>

                        <!-- === product-popup-info === -->

                        <div class="popup-content">
                            <div class="product-info-wrapper">
                                <div class="row">

                                    <!-- === left-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Maître d'œuvre</strong>
                                            <span>Mobilier Express</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Matériaux</strong>
                                            <span>Wood, Cuir, Acrylique</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Disponibilité</strong>
                                            <span><i class="fa fa-check-square-o"></i> in stock</span>
                                        </div>
                                    </div>

                                    <!-- === right-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Couleurs</strong>
                                            <div class="product-colors clearfix">
                                               
                                                <span class="color-btn color-btn-blue checked"></span>
                                                <span class="color-btn color-btn-green"></span>
                                                <span class="color-btn color-btn-gray"></span>
                                                <span class="color-btn color-btn-biege"></span>
                                            </div>
                                        </div>
                                        <div class="info-box">
                                            <strong>Tailles </strong>
                                            <div class="product-colors clearfix">
                                                <span class="color-btn color-btn-biege">160</span>
                                                <span class="color-btn color-btn-biege checked">180</span>
                                                <span class="color-btn color-btn-biege">200</span>
                                               
                                            </div>
                                        </div>
                                    </div>

                                </div> <!--/row-->
                            </div> <!--/product-info-wrapper-->
                        </div> <!--/popup-content-->
                        <!-- === product-popup-footer === -->

                        <div class="popup-table">
                            <div class="popup-cell">
                                <div class="price">
                                    <span class="h3" style="color:#c1002c;">Prix {{produit.prix}} DA</span>
                                </div>
                            </div>
                            <div class="popup-cell">
                                <div class="popup-buttons">
                                    <a href="{{ path('app_produit_details', {'categorie': produit.categorie.nom,'id': produit.nom}) }}"><span class="icon icon-eye"></span> <span class="hidden-xs">Détails</span></a>
                                    <a style="background:black; color:white," href="{{ path('app_commande', {'categorie': produit.categorie.nom,'id': produit.nom}) }}"><span class="icon icon-cart" style="color:white;"></span> <span class="hidden-xs" style="color:white;">Commander</span></a>
                                </div>
                            </div>
                        </div>

                    </div> <!--/product-->
                </div> <!--popup-main-->
                {% endfor %}
            </div> <!--/container-->
        </section>

        <!-- ========================  Stretcher widget ======================== -->

        <section class="stretcher-wrapper">

            <!-- === stretcher header === -->

            <header class="">
                <!--remove class 'hidden'' to show section header -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h1 class="h2 title">Catégories populaires</h1>
                            <div class="text">
                                <p>
                                    Que vous changiez de maison ou que vous emménagiez dans une nouvelle, vous trouverez une vaste sélection de meubles de salon, de chambre à coucher, de salle à manger de qualité et le meilleur rapport qualité-prix chez Mobilier

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- === stretcher === -->

            <ul class="stretcher">

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({{asset('assets/images/gallery-1.webpy')}});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="f-icon f-icon-bedroom"></span>
                            <span class="text-intro">Chambre</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Chambre moderne</h4>
                        <figcaption>Une large gamme de chambres</figcaption>
                    </figure>
                    <!--anchor-->
                    <a title="Chambre | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Chambre">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({{asset('assets/images/gallery-2.webp')}});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="f-icon f-icon-sofa"></span>
                            <span class="text-intro">Canapé</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Canapé design moderne</h4>
                        <figcaption>Découverez tous nos canapées</figcaption>
                    </figure>
                    <!--anchor-->
                    <a title="Canapé | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Canap%C3%A9">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({{asset('assets/images/gallery-3.webp')}});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="f-icon f-icon-office"></span>
                            <span class="text-intro">Bureau</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Bureau design moderne</h4>
                        <figcaption>Tous nos bureaux design moderne</figcaption>
                    </figure>
                    <!--anchor-->
                    <a title="Bureau| MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Bureaux">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url({{asset('assets/images/gallery-4.webp')}});">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="f-icon f-icon-bathroom"></span>
                            <span class="text-intro">Salle de bain</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Salle de bain </h4>
                        <figcaption>Nos salles de bain design moderne</figcaption>
                    </figure>
                    <!--anchor-->
                    <a title="Salle de bain | MOBILIER EXPRESS Magasin de meuble Algérie" href="https://mobilierexpress-dz.com/algerie/magasin/meuble?categorie=Salle+de+bain">Anchor link</a>
                </li>

                <!-- === stretcher item more=== -->

                <li class="stretcher-item more">
                    <div class="more-icon">
                        <span data-title-show="Show more" data-title-hide="+"></span>
                    </div>
                    <a title="Magasin de meuble Algérie" href="{{path('app_shop')}}"></a>
                </li>

            </ul>
        </section>

 
        <!-- ========================  Blog ======================== -->

        <section class="blog">

            <div class="container">

                <!-- === blog header === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h1 class="h2 title">Acctualitées</h1>
                            <div class="text">
                                <p> Les dernières nouvelles </p>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row">

                    <!-- === blog item === -->
{% for new in news %}
                    <div class="col-sm-4">
                        <article>
                            <a href="#">
                                <div class="image" style="background-image:url({{ asset('/uploads/' ~ new.files[0].path)}})">
                                    <img  data-src="{{ asset('/uploads/' ~ new.files[0].path)}}" alt="{{new.titre}}" class="lazyload" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>{{ new.createdAt ? new.createdAt|date('D') : '' }}</span>
                                            <strong>{{ new.createdAt ? new.createdAt|date('m') : '' }}</strong>
                                            <span>{{ new.createdAt ? new.createdAt|date('Y') : '' }}</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">{{new.titre}}</h2>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Lire la suite</span>
                                </div>
                            </a>
                        </article>
                    </div>
{% endfor %}
    

                </div> <!--/row-->
                <!-- === button more === -->

                <div class="wrapper-more">
                    <a href="blog-grid.html" class="btn btn-main">View all posts</a>
                </div>

            </div> <!--/container-->
        </section>

        <!-- ========================  Instagram ======================== -->



   {{ block("footer", "Menus/Footer.html.twig") }}

    </div> 
    
{% endblock %}
