{% extends 'base.html.twig' %}

{% block title %}MOBILIER EXPRESS Algérie | Meuble, Chambre, Bureau{% endblock %}

{% block body %}
<style>

.p1 a {
    display: inline-block;
    border-right: 1px solid #444;
    padding: 0 10px;
    line-height: 18px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
</style>
    <div class="page-loader"></div>

    <div class="wrapper">

        <div class="inc:_header.html"><!-- ==================  Navigation (main menu) ================== -->
 
            
                    <!--Use class "navbar-fixed" or "navbar-default" -->
                    <!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->
            
                    <!-- ======================== Navigation ======================== -->
            
                    <nav class="navbar-fixed navbar-sticked">
            
                        <div class="container">
            
                            <!-- ==========  Top navigation ========== -->
            
                            <div class="navigation navigation-top clearfix">
                                <ul>
                                    <!--add active class for current page-->
            
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            
                        
                              
                                   
                                </ul>
                            </div> <!--/navigation-top-->
            
                            <!-- ==========  Main navigation ========== -->
            
                            <div class="navigation navigation-main">
            
                                <!-- Setup your logo here-->
            
                                <a href="{{path('app_index')}}" class="logo"><img width="100%" src="assets/images/logo.svg" alt=""></a>
            
                                <!-- Mobile toggle menu -->
            
                                <a href="#" class="open-menu"><i class="icon icon-menu"></i></a>
            
                                <!-- Convertible menu (mobile/desktop)-->
            
                                <div class="floating-menu">
            
                                    <!-- Mobile toggle menu trigger-->
            
                                    <div class="close-menu-wrapper">
                                        <span class="close-menu"><i class="icon icon-cross"></i></span>
                                    </div>
            
                                    <ul>
                                        <li><a href="{{path('app_index')}}">Mobilier Express</a></li>
                                        
                                        <!-- Multi-content dropdown -->
            
                                
            
                                    
            
                                        <!-- Furniture icons in dropdown-->
            
                                        <li>
                                            <a title="Magasin de meuble Algérie" href="{{path('app_shop')}}">Nos produits <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                                            <div class="navbar-dropdown">
                                                <div class="navbar-box">
            
                                                    <!-- box-1 (left-side)-->
            
                                                    <div class="box-1">
                                                      
                                                        <div class="box">
                                                            <div class="h2">Nos produits</div>
                                                            <div class="clearfix">
                                                                <p> Une large gamme de produits,  des prix imbattables, designs uniques exporez notre magasin et commander dés maintenant votre meuble.</p>
                                                                <a class="btn btn-clean btn-big" href="{{path('app_shop')}}">Explorer</a>
                                                            </div>
                                                        </div>
                                                    </div> <!--/box-1-->
            
                                                    <!-- box-2 (right-side)-->
            
                                                    <div class="box-2">
                                                        <div class="clearfix categories">
                                                            <div class="row">
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-sofa"></i>
                                                                            <figcaption>Canapé</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-armchair"></i>
                                                                            <figcaption>Fauteuil</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                              
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-dining-table"></i>
                                                                            <figcaption>Table à manger</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                         
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-table"></i>
                                                                            <figcaption>Table basse</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>

                                                                
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-media-cabinet"></i>
                                                                            <figcaption>Table TV</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                                                     
            
                                                             
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-bedroom"></i>
                                                                            <figcaption>Chambre</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-nightstand"></i>
                                                                            <figcaption>Table de nuit</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-children-room"></i>
                                                                            <figcaption>Chambre enfant</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-bathroom"></i>
                                                                            <figcaption>Salle de bain</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-wardrobe"></i>
                                                                            <figcaption>Dressing</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-shoe-cabinet"></i>
                                                                            <figcaption>Meuble d'entrée</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-office"></i>
                                                                            <figcaption>Bureau</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                               
                                                              
                                                                
                                                              
                                                            </div> <!--/row-->
                                                        </div> <!--/categories-->
                                                    </div> <!--/box-2-->
                                                </div> <!--/navbar-box-->
                                            </div> <!--/navbar-dropdown-->
                                        </li>
            
                                        <!-- Simple menu link-->
            
                                        <li><a href="">Contact</a></li>
                                    </ul>
                                </div> <!--/floating-menu-->
                            </div> <!--/navigation-main-->
            
                            <!-- ==========  Search wrapper ========== -->
            
                            <div class="search-wrapper">
            
                                <!-- Search form -->
                                <input class="form-control" placeholder="Search...">
                                <button class="btn btn-main btn-search">Go!</button>
            
                                <!-- Search results - live search -->
                                <div class="search-results">
                                    <div class="search-result-items">
                                        <div class="title h4">Products <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>
                                        <ul>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Green corner</span> <span class="category">Sofa</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Laura</span> <span class="category">Armchairs</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Nude</span> <span class="category">Dining tables</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Aurora</span> <span class="category">Nightstands</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Dining set</span> <span class="category">Kitchen</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Seat chair</span> <span class="category">Bar sets</span></a></li>
                                        </ul>
                                    </div> <!--/search-result-items-->
                                    <div class="search-result-items">
                                        <div class="title h4">Blog <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>
                                        <ul>
                                            <li><a href="#"><span class="id">01 Jan</span> <span class="name">Creating the Perfect Gallery Wall </span> <span class="category">Interior ideas</span></a></li>
                                            <li><a href="#"><span class="id">12 Jan</span> <span class="name">Making the Most Out of Your Kids Old Bedroom</span> <span class="category">Interior ideas</span></a></li>
                                            <li><a href="#"><span class="id">28 Dec</span> <span class="name">Have a look at our new projects!</span> <span class="category">Modern design</span></a></li>
                                            <li><a href="#"><span class="id">31 Sep</span> <span class="name">Decorating When You're Starting Out or Starting Over</span> <span class="category">Best of 2017</span></a></li>
                                            <li><a href="#"><span class="id">22 Sep</span> <span class="name">The 3 Tricks that Quickly Became Rules</span> <span class="category">Tips for you</span></a></li>
                                        </ul>
                                    </div> <!--/search-result-items-->
                                </div> <!--/search-results-->
                            </div>
            
                            <!-- ==========  Login wrapper ========== -->
            
                            <div class="login-wrapper">
                                <form>
                                    <div class="h4">Sign in</div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <a href="#forgotpassword" class="open-popup">Forgot password?</a>
                                        <a href="#createaccount" class="open-popup">Don't have an account?</a>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-main">Submit</button>
                                </form>
                            </div>
            
                            <!-- ==========  Cart wrapper ========== -->
            
                            <div class="cart-wrapper">
                                <div class="checkout">
                                    <div class="clearfix">
            
                                        <!--cart item-->
            
                                        <div class="row">
                                       
                               
                                          
                                            <!--cart item-->
            
            
            
                                            <!--cart item-->
            
                                            <div class="cart-block cart-block-item clearfix">
                                                <div class="image">
                                                    <a href="product.html"><img src="assets/images/product-4.png" alt=""></a>
                                                </div>
                                                <div class="title">
                                                    <div><a href="product.html">Green corner</a></div>
                                                    <small>Green corner</small>
                                                </div>
                                                <div class="quantity">
                                                    <input type="number" value="2" class="form-control form-quantity">
                                                </div>
                                                <div class="price">
                                                    <span class="final">$ 1.998</span>
                                                    <span class="discount">$ 2.666</span>
                                                </div>
                                                <!--delete-this-item-->
                                                <span class="icon icon-cross icon-delete"></span>
                                            </div>
                                        </div>
            
                                        <hr>
            
                                        <!--cart prices -->
            
                                        <div class="clearfix">
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Discount 15%</strong>
                                                </div>
                                                <div>
                                                    <span>$ 159,00</span>
                                                </div>
                                            </div>
            
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Shipping</strong>
                                                </div>
                                                <div>
                                                    <span>$ 30,00</span>
                                                </div>
                                            </div>
            
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>VAT</strong>
                                                </div>
                                                <div>
                                                    <span>$ 59,00</span>
                                                </div>
                                            </div>
                                        </div>
            
                                        <hr>
            
                                        <!--cart final price -->
            
                                        <div class="clearfix">
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Total</strong>
                                                </div>
                                                <div>
                                                    <div class="h4 title">$ 1259,00</div>
                                                </div>
                                            </div>
                                        </div>
            
            
                                        <!--cart navigation -->
            
                                        <div class="cart-block-buttons clearfix">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a href="products-grid.html" class="btn btn-clean-dark">Continue shopping</a>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <a href="" class="btn btn-main"><span class="icon icon-cart"></span> Checkout</a>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div> <!--/checkout-->
                            </div> <!--/cart-wrapper-->
                        </div> <!--/container-->
                    </nav>
            </div>

        <!-- ========================  Header content ======================== -->

        <section class="header-content">

            <div class="owl-slider">

                <!-- === slide item === -->

                <div class="item" style="background-image:url(assets/images/gallery-1.jpg)">
                    <div class="box">
                        <div class="container">
                            <h2  class="title animated h1" data-animation="fadeInDown">Mobilier Express</h2>
                            <div style="font-size: 18px;" class="animated" data-animation="fadeInUp">
                               <b style="font-size: 25px;">Mobilier Express est le leader du mobilier d'intérieur en Algérie </b><br><br>
                                Nous concevons, fabriquons et vendons nos produits en ligne<br>
                                Nous vous offrons une large gamme de produits à des prix imbattables,<br> designs uniques et vous assurons la livraison à domicile et ce sans aucun engagement au préalable.<br>
                               <br> La livraison et le montage sont assurés vers 58 wilayas <br>
                                Paiement à la livraison.
                                
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a style="font-size: 19px;" href="{{path('app_shop')}}" class="btn btn-main" > Découverez notre magasin en ligne</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url(assets/images/gallery-2.jpg)">
                    <div class="box">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">Mobilier Express</h2>
                            <div style="font-size: 18px;" class="animated" data-animation="fadeInUp">
                               <b >Mobilier Express est le leader du mobilier d'intérieur en Algérie </b><br><br>
                                Nous concevons, fabriquons et vendons nos produits en ligne<br>
                                Nous vous offrons une large gamme de produits à des prix imbattables,<br> designs uniques et vous assurons la livraison à domicile et ce sans aucun engagement au préalable.<br>
                               <br> La livraison et le montage sont assurés vers 58 wilayas <br>
                                Paiement à la livraison.
                                
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a style="font-size: 19px;" href="{{path('app_shop')}}"  class="btn btn-main" > Découverez notre magasin en ligne</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- === slide item === -->

                <div class="item" style="background-image:url(assets/images/gallery-3.jpg)">
                    <div class="box">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">Mobilier Express</h2>
                            <div style="font-size: 18px;" class="animated" data-animation="fadeInUp">
                               <b style="font-size: 25px;">Mobilier Express est le leader du mobilier d'intérieur en Algérie </b><br><br>
                                Nous concevons, fabriquons et vendons nos produits en ligne<br>
                                Nous vous offrons une large gamme de produits à des prix imbattables,<br> designs uniques et vous assurons la livraison à domicile et ce sans aucun engagement au préalable.<br>
                               <br> La livraison et le montage sont assurés vers 58 wilayas <br>
                                Paiement à la livraison.
                                
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a style="font-size: 19px;" href="{{path('app_shop')}}"  class="btn btn-main" > Découverez notre magasin en ligne</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--/owl-slider-->
        </section>

        <!-- ========================  Icons slider ======================== -->

        <section class="owl-icons-wrapper owl-icons-frontpage">

            <!-- === header === -->

            <header class="hidden">
                <h2>Product categories</h2>
            </header>

            <div class="container">

                <div class="owl-icons">

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-sofa"></i>
                            <figcaption>Canapé</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-armchair"></i>
                            <figcaption>Fauteuil</figcaption>
                        </figure>
                    </a>

     

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-dining-table"></i>
                            <figcaption>Table à manger</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-media-cabinet"></i>
                            <figcaption>Table TV</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-table"></i>
                            <figcaption>Table basse</figcaption>
                        </figure>
                    </a>

                   

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-bedroom"></i>
                            <figcaption>Chambre</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-nightstand"></i>
                            <figcaption>Table de nuit</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-children-room"></i>
                            <figcaption>Chambre enfant</figcaption>
                        </figure>
                    </a>

              

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-bathroom"></i>
                            <figcaption>Salle de bain</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-wardrobe"></i>
                            <figcaption>Dressing</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-shoe-cabinet"></i>
                            <figcaption>Meuble d'entrée</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-office"></i>
                            <figcaption>Bureau</figcaption>
                        </figure>
                    </a>

             


                </div> <!--/owl-icons-->
            </div> <!--/container-->
        </section>

        <!-- ========================  Products widget ======================== -->

        <section class="products">

            <div class="container">

                <!-- === header title === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h2 class="title">Nouveaux produits</h2>
                            <div class="text">
                                <p>Découvrez nos dernières collections</p>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row">

                    <!-- === product-item === -->
     {%  for produit in produits %}
                    <div class="col-md-4 col-xs-6">

                        <article>
                            <div class="info">
                                <span class="add-favorite ">
                                    <a href="{{ path('app_produit_details', {'categorie': produit.categorie.nom,'id': produit.nom}) }}" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                                </span>
                                <span>
                                    <a href="#productid{{produit.id}}" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                                </span>
                            </div>
                            <div class="btn btn-add">
                                <a href="{{ path('app_commande', {'categorie': produit.categorie.nom,'id': produit.nom}) }}"><i class="icon icon-cart"></i></a>
                            </div>
                            <div class="figure-grid">
                                <div class="image">
                                    <a href="#productid{{produit.id}}" class="mfp-open">
                                    {% if produit.files %}
                                        <img src="{{ asset('/uploads/' ~ produit.files[0].path)}}" alt="" height="300" />
                                    {% endif %}
                                    </a>
                                </div>
                                  <div style="padding-left:8px;">
                            
                                 <h2 class="title h4" style="margin-top:8px;margin-bottom:0;padding:0;"><a href="{{ path('app_produit_details', {'categorie': produit.categorie.nom,'id': produit.nom}) }}" style="color:#14233c;">{{produit.nom}}</a></h2>

                                       <span style="color:black;">{{ produit.categorie.nom }}</span>
                                 
                                    <br> <br>
                                 <span style="color:black;position: absolute;margin-top: -10px; color:#c1002c;font-weight: 500;">Prix {{produit.prix}} DA</span>
                                 <br>
                                 </div>
                            </div>
                        </article>
                    </div>
     {% endfor %}
             


                </div> <!--/row-->
                <!-- === button more === -->

                <div class="wrapper-more">
                    <a href="products-grid.html" class="btn btn-main">Voir la magasin en ligne</a>
                </div>

                <!-- ========================  Product info popup - quick view ======================== -->
 {%  for produit in produits %}
                <div class="popup-main mfp-hide" id="productid{{produit.id}}">

                    <!-- === product popup === -->

                    <div class="product">

                        <!-- === popup-title === -->

                        <div class="popup-title">
                            <div class="h1 title">{{produit.nom}} <small>{{produit.categorie.nom}}</small></div>
                        </div>

                        <!-- === product gallery === -->

                        <div class="owl-product-gallery">
                        {% for image in produit.files %}
                            <img src="{{ asset('/uploads/' ~ image.path)}}" alt="" width="640" />
                  
                            {% endfor %}
                        </div>

                        <!-- === product-popup-info === -->

                        <div class="popup-content">
                            <div class="product-info-wrapper">
                                <div class="row">

                                    <!-- === left-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Maître d'œuvre</strong>
                                            <span>Mobilier Express</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Matériaux</strong>
                                            <span>Wood, Cuir, Acrylique</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Disponibilité</strong>
                                            <span><i class="fa fa-check-square-o"></i> in stock</span>
                                        </div>
                                    </div>

                                    <!-- === right-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Couleurs</strong>
                                            <div class="product-colors clearfix">
                                               
                                                <span class="color-btn color-btn-blue checked"></span>
                                                <span class="color-btn color-btn-green"></span>
                                                <span class="color-btn color-btn-gray"></span>
                                                <span class="color-btn color-btn-biege"></span>
                                            </div>
                                        </div>
                                        <div class="info-box">
                                            <strong>Tailles </strong>
                                            <div class="product-colors clearfix">
                                                <span class="color-btn color-btn-biege">160</span>
                                                <span class="color-btn color-btn-biege checked">180</span>
                                                <span class="color-btn color-btn-biege">200</span>
                                               
                                            </div>
                                        </div>
                                    </div>

                                </div> <!--/row-->
                            </div> <!--/product-info-wrapper-->
                        </div> <!--/popup-content-->
                        <!-- === product-popup-footer === -->

                        <div class="popup-table">
                            <div class="popup-cell">
                                <div class="price">
                                    <span class="h3" style="color:#c1002c;">Prix {{produit.prix}} DA</span>
                                </div>
                            </div>
                            <div class="popup-cell">
                                <div class="popup-buttons">
                                    <a href="{{ path('app_produit_details', {'categorie': produit.categorie.nom,'id': produit.nom}) }}"><span class="icon icon-eye"></span> <span class="hidden-xs">Détails</span></a>
                                    <a href="{{ path('app_commande', {'categorie': produit.categorie.nom,'id': produit.nom}) }}"><span class="icon icon-cart"></span> <span class="hidden-xs">Commander</span></a>
                                </div>
                            </div>
                        </div>

                    </div> <!--/product-->
                </div> <!--popup-main-->
                {% endfor %}
            </div> <!--/container-->
        </section>

        <!-- ========================  Stretcher widget ======================== -->

        <section class="stretcher-wrapper">

            <!-- === stretcher header === -->

            <header class="">
                <!--remove class 'hidden'' to show section header -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h1 class="h2 title">Popular categories</h1>
                            <div class="text">
                                <p>
                                    Que vous changiez de maison ou que vous emménagiez dans une nouvelle, vous trouverez une vaste sélection de meubles de salon, de chambre à coucher, de salle à manger de qualité et le meilleur rapport qualité-prix chez Mobilier

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- === stretcher === -->

            <ul class="stretcher">

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(assets/images/gallery-1.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="f-icon f-icon-bedroom"></span>
                            <span class="text-intro">Bedroom</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Modern furnishing projects</h4>
                        <figcaption>New furnishing ideas</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(assets/images/gallery-2.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="f-icon f-icon-sofa"></span>
                            <span class="text-intro">Living room</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Furnishing and complements</h4>
                        <figcaption>Discover the design table collection</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(assets/images/gallery-3.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="f-icon f-icon-office"></span>
                            <span class="text-intro">Office</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Which is Best for Your Home</h4>
                        <figcaption>Wardrobes vs Walk-In Closets</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item === -->

                <li class="stretcher-item" style="background-image:url(assets/images/gallery-4.jpg);">
                    <!--logo-item-->
                    <div class="stretcher-logo">
                        <div class="text">
                            <span class="f-icon f-icon-bathroom"></span>
                            <span class="text-intro">Bathroom</span>
                        </div>
                    </div>
                    <!--main text-->
                    <figure>
                        <h4>Keeping Things Minimal</h4>
                        <figcaption>Creating Your Very Own Bathroom</figcaption>
                    </figure>
                    <!--anchor-->
                    <a href="#">Anchor link</a>
                </li>

                <!-- === stretcher item more=== -->

                <li class="stretcher-item more">
                    <div class="more-icon">
                        <span data-title-show="Show more" data-title-hide="+"></span>
                    </div>
                    <a href="#"></a>
                </li>

            </ul>
        </section>

 
        <!-- ========================  Blog ======================== -->

        <section class="blog">

            <div class="container">

                <!-- === blog header === -->

                <header>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h1 class="h2 title">Acctualitées</h1>
                            <div class="text">
                                <p> Les dernières nouvelles </p>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row">

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image" style="background-image:url(assets/images/blog-1.jpg)">
                                    <img src="assets/images/blog-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>08</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">The 3 Tricks that Quickly Became Rules</h2>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image" style="background-image:url(assets/images/blog-2.jpg)">
                                    <img src="assets/images/blog-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>03</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Decorating When You're Starting Out or Starting Over</h2>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!-- === blog item === -->

                    <div class="col-sm-4">
                        <article>
                            <a href="article.html">
                                <div class="image" style="background-image:url(assets/images/blog-8.jpg)">
                                    <img src="assets/images/blog-8.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>MAR</span>
                                            <strong>01</strong>
                                            <span>2017</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">What does your favorite dining chair say about you?</h2>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <span class="btn btn-main btn-block">Read more</span>
                                </div>
                            </a>
                        </article>
                    </div>

                </div> <!--/row-->
                <!-- === button more === -->

                <div class="wrapper-more">
                    <a href="blog-grid.html" class="btn btn-main">View all posts</a>
                </div>

            </div> <!--/container-->
        </section>

        <!-- ========================  Instagram ======================== -->

        <section class="instagram">

            <!-- === instagram header === -->

            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                          <p class="p1">
                <a href="/">Accueil</a><a href="/societe-2.php">Notre société</a><a href="/produits-3.php">Nos produits</a><a href="/nous-contacter.php">Nous contacter</a><a href="/politique-de-confidentialite.php">RGPD</a><a href="/asset/conditions-generales-de-vente-2017.pdf" target="_blank">CGV</a><a href="/nous-contacter/mentions-legales.php">Mentions</a>
            </p>
            <p class="p2">INTERVENTION  Vers 58 Wilayas: Oran - Alger - Annaba - Constantine - Adrar - Chlef - Laghouat - Oum El Bouaghi Batna - Béjaïa - Biskra - 	Béchar - Blida - Bouira - Tamanrasset - Tébessa - Tlemcen - Tiaret - Tizi Ouzou - 	Alger  - Djelfa - Jijel - Sétif - Saïda - Skikda - Sidi Bel Abbès - Guelma - Médéa - Mostaganem ...</p>
                        </div>
                    </div>
                </div>
            </header>

   
<div class="mots-clefs" style="font-size: 10px;
    line-height: 12px;
    color: #999;     width: 1200px;
    margin: 40px auto 25px;
    text-align: center;">
		<p>Vente de meubles - Algérie meubles - Prix chambre  - Chambres algérie 2022 - Canapé - Fauteil  - meilleur magasin meuble 2023- Table TV - Bois - Chambre enfant - Chambre adulte - Table basse -  Table de nuit - Rangement chaussures - Salle de bain - Dressing - Meuble d'entrée - Bureau - Table - Table à manger - Oran - Alger - Annaba - Constantine - Adrar - Chlef - Laghouat - Oum El Bouaghi - Batna - Béjaïa - Biskra - 	Béchar - Blida - Bouira - Tamanrasset - Tébessa - Tlemcen - Tiaret - Tizi Ouzou - 	Alger  - Djelfa - Jijel - Sétif - Saïda - Skikda - Sidi Bel Abbès - Guelma - Médéa - Mostaganem  - M'Sila - Mascara - 	Ouargla - Oran - El Bayadh  - Illizi - 	Bordj Bou Arreridj - Boumerdès - El Tarf - Tindouf - Tissemsilt - El Oued - Khenchela - Souk Ahras - Tipaza - Mila - Aïn Defla - Naâma - Aïn Témouchent -  Ghardaïa - Relizane - meilleur meuble Oran - meuble Tlemcen - Meuble Alger - Blida meubles - Chlef meuble - Béjaïa meuble - Tizi Ouzou meuble - Sétif - Sidi Bel Abbès - Annaba - Guelma - Constantine - Médéa meuble - Mostaganem meuble - Mascara meuble - Boumerdès meuble - Tindouf meuble- Mila - Aïn Témouchent meuble - Ghardaïa - Relizane - Timimoun - Algérie - Adrar - Laghouat - Oum El Bouaghi - Batna - Biskra - Béchar - Bouira - Tamanrasset - Tébessa - Tiaret - Djelfa - Jijel - Saïda - Skikda - M'Sila - Ouargla - El Bayadh - Bordj Bou Arreridj - El Tarf - Tissemsilt - El Oued - Khenchela - chambre Souk Ahras - Tipaza - chambre Aïn Defla - chambre Naâma - Bordj Badji Mokhtar - Ouled Djellal meuble - Béni Abbès meuble - In Salah meuble - Touggourt meuble - Djanet chambre - El M'Ghair chambre - El Meniaa chambre
		</p>
	
	</div>
        </section>

        <div class="inc:_footer.html">

            <footer>
                <div class="container">
    
                    <!--footer showroom-->
                    <div class="footer-showroom">
                  
                    </div>
    
                    <!--footer links-->
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-sm-4 col-md-2">
                                <h5>Parcourir </h5>
                                <ul>
                                    <li><a href="#">Canapées</a></li>
                                    <li><a href="#">Fauteuils</a></li>
                                    <li><a href="#">Tables à manger</a></li>
                                    <li><a href="#">Tables basses</a></li>
                                    <li><a href="#">Tables TV</a></li>
                                    <li><a href="#">Chambres</a></li>
                                    <li><a href="#">Tables de nuit</a></li>
                                    <li><a href="#">Chambres enfant</a></li>
                                    <li><a href="#">Salles de bain</a></li>
                                    <li><a href="#">Dressings</a></li>
                                    <li><a href="#">Meubles D'entrée</a></li>
                                    <li><a href="#">Bureaux</a></li>
                                </ul>
                            </div>
                        
                            <div class="col-sm-4 col-md-2">
                                <h5>Notre compagnie</h5>
                                <ul>
                               
                                    <li><a href="#">Acctualitées</a></li>
                                    <li><a href="#">Á propos</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Mentions légales</a></li>
                                    <li><a href="#">C.C.V</a></li>
                                    <li><a href="#">Plan du site</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-5">
                                <h5>Inscrivez-vous à notre newsletter</h5>
                                <p><i>Ajoutez votre adresse e-mail pour recevoir des offres promotionnelles.</i></p>
                                <div class="form-group form-newsletter">
                                    <input class="form-control" type="text" name="email" value="" placeholder="Adresse électronique">
                                    <input type="submit" class="btn btn-clean btn-sm" value="Souscrire">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="call-us h5">Assistance en ligne<br><br><span class="icon icon-phone-handset"></span> 05 55 86 06 85</div>

                            </div>
                        </div>
                    </div>
    
                    <!--footer social-->
    
                    <div class="footer-social">
                        <div class="row">
                            <div class="col-sm-8">
                                © 2022 MOBILIER EXPRESS &nbsp; DÉVELOPPEMENT WEB: CREATIV &nbsp;  | &nbsp;  <a href="#">Plan du site</a> &nbsp; 
                            </div>
                            <div class="col-sm-4 links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div> 
{% endblock %}
