{% extends 'base.html.twig' %}

{% block title %}MOBILIER EXPRESS | Magasin meuble Algérie{% endblock %}

{% block body %}
<style>
#categorie{
    display:none;
}
</style>
  <div class="page-loader"></div>

    <div class="wrapper">

        <div class="inc:_header.html"><!-- ==================  Navigation (main menu) ================== -->
 
            
                    <!--Use class "navbar-fixed" or "navbar-default" -->
                    <!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->
            
                    <!-- ======================== Navigation ======================== -->
            
                    <nav class="navbar-fixed navbar-sticked">
            
                        <div class="container">
            
                            <!-- ==========  Top navigation ========== -->
            
                            <div class="navigation navigation-top clearfix">
                                <ul>
                                    <!--add active class for current page-->
            
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            
                        
                              
                                   
                                </ul>
                            </div> <!--/navigation-top-->
            
                            <!-- ==========  Main navigation ========== -->
            
                            <div class="navigation navigation-main">
            
                                <!-- Setup your logo here-->
            
                                <a href="{{path('app_index')}}" class="logo"><img width="100%" src="{{asset('assets/images/logo.svg')}}" alt=""></a>
            
                                <!-- Mobile toggle menu -->
            
                                <a href="#" class="open-menu"><i class="icon icon-menu"></i></a>
            
                                <!-- Convertible menu (mobile/desktop)-->
            
                                <div class="floating-menu">
            
                                    <!-- Mobile toggle menu trigger-->
            
                                    <div class="close-menu-wrapper">
                                        <span class="close-menu"><i class="icon icon-cross"></i></span>
                                    </div>
            
                                    <ul>
                                        <li><a href="index.html">Mobilier Express</a></li>
                                        
                                        <!-- Multi-content dropdown -->
            
                                
            
                                    
            
                                        <!-- Furniture icons in dropdown-->
            
                                        <li>
                                            <a href="category.html">Nos produits <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                                            <div class="navbar-dropdown">
                                                <div class="navbar-box">
            
                                                    <!-- box-1 (left-side)-->
            
                                                    <div class="box-1">
                                                        <div class="image">
                                                            <img src="assets/images/blog-2.jpg" alt="Lorem ipsum">
                                                        </div>
                                                        <div class="box">
                                                            <div class="h2">Nos produits</div>
                                                            <div class="clearfix">
                                                                <p> Une large gamme de produits,  des prix imbattables, designs uniques exporez notre boutique et commander dés maintenant votre meuble.</p>
                                                                <a class="btn btn-clean btn-big" href="{{path('app_shop')}}">Explorer</a>
                                                            </div>
                                                        </div>
                                                    </div> <!--/box-1-->
            
                                                    <!-- box-2 (right-side)-->
            
                                                    <div class="box-2">
                                                        <div class="clearfix categories">
                                                            <div class="row">
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-sofa"></i>
                                                                            <figcaption>Canapé</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-armchair"></i>
                                                                            <figcaption>Fauteuil</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                              
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-dining-table"></i>
                                                                            <figcaption>Table à manger</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                         
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-table"></i>
                                                                            <figcaption>Table basse</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>

                                                                
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-media-cabinet"></i>
                                                                            <figcaption>Table TV</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                                                     
            
                                                             
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-bedroom"></i>
                                                                            <figcaption>Chambre</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-nightstand"></i>
                                                                            <figcaption>Table de nuit</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-children-room"></i>
                                                                            <figcaption>Chambre enfant</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-bathroom"></i>
                                                                            <figcaption>Salle de bain</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-wardrobe"></i>
                                                                            <figcaption>Dressing</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-shoe-cabinet"></i>
                                                                            <figcaption>Meuble d'entrée</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                                <!--icon item-->                                                
            
                                                                <div class="col-sm-3 col-xs-6">
                                                                    <a href="javascript:void(0);">
                                                                        <figure>
                                                                            <i class="f-icon f-icon-office"></i>
                                                                            <figcaption>Bureau</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                                
                                                               
                                                              
                                                                
                                                              
                                                            </div> <!--/row-->
                                                        </div> <!--/categories-->
                                                    </div> <!--/box-2-->
                                                </div> <!--/navbar-box-->
                                            </div> <!--/navbar-dropdown-->
                                        </li>
            
                                        <!-- Simple menu link-->
            
                                        <li><a href="shortcodes.html">Contact</a></li>
                                    </ul>
                                </div> <!--/floating-menu-->
                            </div> <!--/navigation-main-->
            
                            <!-- ==========  Search wrapper ========== -->
            
                            <div class="search-wrapper">
            
                                <!-- Search form -->
                                <input class="form-control" placeholder="Search...">
                                <button class="btn btn-main btn-search">Go!</button>
            
                                <!-- Search results - live search -->
                                <div class="search-results">
                                    <div class="search-result-items">
                                        <div class="title h4">Products <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>
                                        <ul>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Green corner</span> <span class="category">Sofa</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Laura</span> <span class="category">Armchairs</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Nude</span> <span class="category">Dining tables</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Aurora</span> <span class="category">Nightstands</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Dining set</span> <span class="category">Kitchen</span></a></li>
                                            <li><a href="#"><span class="id">42563</span> <span class="name">Seat chair</span> <span class="category">Bar sets</span></a></li>
                                        </ul>
                                    </div> <!--/search-result-items-->
                                    <div class="search-result-items">
                                        <div class="title h4">Blog <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>
                                        <ul>
                                            <li><a href="#"><span class="id">01 Jan</span> <span class="name">Creating the Perfect Gallery Wall </span> <span class="category">Interior ideas</span></a></li>
                                            <li><a href="#"><span class="id">12 Jan</span> <span class="name">Making the Most Out of Your Kids Old Bedroom</span> <span class="category">Interior ideas</span></a></li>
                                            <li><a href="#"><span class="id">28 Dec</span> <span class="name">Have a look at our new projects!</span> <span class="category">Modern design</span></a></li>
                                            <li><a href="#"><span class="id">31 Sep</span> <span class="name">Decorating When You're Starting Out or Starting Over</span> <span class="category">Best of 2017</span></a></li>
                                            <li><a href="#"><span class="id">22 Sep</span> <span class="name">The 3 Tricks that Quickly Became Rules</span> <span class="category">Tips for you</span></a></li>
                                        </ul>
                                    </div> <!--/search-result-items-->
                                </div> <!--/search-results-->
                            </div>
            
                            <!-- ==========  Login wrapper ========== -->
            
                            <div class="login-wrapper">
                                <form>
                                    <div class="h4">Sign in</div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <a href="#forgotpassword" class="open-popup">Forgot password?</a>
                                        <a href="#createaccount" class="open-popup">Don't have an account?</a>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-main">Submit</button>
                                </form>
                            </div>
            
                            <!-- ==========  Cart wrapper ========== -->
            
                            <div class="cart-wrapper">
                                <div class="checkout">
                                    <div class="clearfix">
            
                                        <!--cart item-->
            
                                        <div class="row">
                                       
                               
                                          
                                            <!--cart item-->
            
            
            
                                            <!--cart item-->
            
                                            <div class="cart-block cart-block-item clearfix">
                                                <div class="image">
                                                    <a href="product.html"><img src="assets/images/product-4.png" alt=""></a>
                                                </div>
                                                <div class="title">
                                                    <div><a href="product.html">Green corner</a></div>
                                                    <small>Green corner</small>
                                                </div>
                                                <div class="quantity">
                                                    <input type="number" value="2" class="form-control form-quantity">
                                                </div>
                                                <div class="price">
                                                    <span class="final">$ 1.998</span>
                                                    <span class="discount">$ 2.666</span>
                                                </div>
                                                <!--delete-this-item-->
                                                <span class="icon icon-cross icon-delete"></span>
                                            </div>
                                        </div>
            
                                        <hr>
            
                                        <!--cart prices -->
            
                                        <div class="clearfix">
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Discount 15%</strong>
                                                </div>
                                                <div>
                                                    <span>$ 159,00</span>
                                                </div>
                                            </div>
            
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Shipping</strong>
                                                </div>
                                                <div>
                                                    <span>$ 30,00</span>
                                                </div>
                                            </div>
            
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>VAT</strong>
                                                </div>
                                                <div>
                                                    <span>$ 59,00</span>
                                                </div>
                                            </div>
                                        </div>
            
                                        <hr>
            
                                        <!--cart final price -->
            
                                        <div class="clearfix">
                                            <div class="cart-block cart-block-footer clearfix">
                                                <div>
                                                    <strong>Total</strong>
                                                </div>
                                                <div>
                                                    <div class="h4 title">$ 1259,00</div>
                                                </div>
                                            </div>
                                        </div>
            
            
                                        <!--cart navigation -->
            
                                        <div class="cart-block-buttons clearfix">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a href="products-grid.html" class="btn btn-clean-dark">Continue shopping</a>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <a href="checkout-1.html" class="btn btn-main"><span class="icon icon-cart"></span> Checkout</a>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div> <!--/checkout-->
                            </div> <!--/cart-wrapper-->
                        </div> <!--/container-->
                    </nav>
            </div>

        <!-- ========================  Main header ======================== -->

        <section class="main-header" style="background-image:url({{ asset('/assets/images/gallery-4.jpg')}})">
            <header>
                <div class="container">
                 
                    <ol class="breadcrumb breadcrumb-inverted">
                        <li><a href="{{path('app_index')}}"><span class="icon icon-home"></span></a></li>
                        <li><a href="{{path('app_shop')}}">Algérie magasin meuble</a></li>
                    
                    </ol>
                </div>
            </header>
        </section>


        <!-- ========================  Icons slider ======================== -->

        <section class="owl-icons-wrapper">

            <!-- === header === -->

            <header class="hidden">
                <h2>Product categories</h2>
            </header>

            <div class="container">

           <div class="owl-icons">

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-sofa"></i>
                            <figcaption>Canapé</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-armchair"></i>
                            <figcaption>Fauteuil</figcaption>
                        </figure>
                    </a>

     

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-dining-table"></i>
                            <figcaption>Table à manger</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-media-cabinet"></i>
                            <figcaption>Table TV</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-table"></i>
                            <figcaption>Table basse</figcaption>
                        </figure>
                    </a>

                   

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-bedroom"></i>
                            <figcaption>Chambre</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-nightstand"></i>
                            <figcaption>Table de nuit</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-children-room"></i>
                            <figcaption>Chambre enfant</figcaption>
                        </figure>
                    </a>

              

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-bathroom"></i>
                            <figcaption>Salle de bain</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-wardrobe"></i>
                            <figcaption>Dressing</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-shoe-cabinet"></i>
                            <figcaption>Meuble d'entrée</figcaption>
                        </figure>
                    </a>

                    <!-- === icon item === -->

                    <a href="#">
                        <figure>
                            <i class="f-icon f-icon-office"></i>
                            <figcaption>Bureau</figcaption>
                        </figure>
                    </a>

             


                </div> <!--/owl-icons-->
            </div> <!--/container-->
        </section>

        <!-- ======================== Products ======================== -->

        <section class="products">
            <div class="container">

                <header class="hidden">
                    <h3 class="h3 title">Product category grid</h3>
                </header>

                <div class="row">

                    <!-- === product-filters === -->

                    <div class="col-md-3 col-xs-12">
                        <div class="filters">
                       
                            <!--Type-->
                            <div class="filter-box active">
                                <div class="title">
                                    Type
                                </div>
                                <div class="filter-content">
                                      {{ form_start(form) }}

                                      {{ form_end(form) }}

                                     <span class="checkbox">
                                        <input type="radio" name="radiogroup-type" class="categorie" id="typeIdAll" value="" checked="checked">
                                        <label for="typeIdAll">Tous <i>( {{produits|length}} )</i></label>
                                    </span>
                                     {% for categorie in categories %}
                           
                                       <span class="checkbox">
                                        <input type="radio" name="radiogroup-type" class="categorie" id="typeId{{categorie.id}}" value="{{categorie.nom}}">
                                        <label for="typeId{{categorie.id}}">{{categorie.nom}} <i>({{categorie.produits|length}})</i></label>
                                    </span>
                                    {% endfor %}
                                  
                                </div>
                            </div> <!--/filter-box-->
                       

                        </div> <!--/filters-->

                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1089265042521694"
     crossorigin="anonymous"></script>
<!-- 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1089265042521694"
     data-ad-slot="4153476818"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                    </div>

                    <!--product items-->

                    <div class="col-md-9 col-xs-12">

                        <div class="sort-bar clearfix">
                            <div class="sort-results pull-left">
                       
                            </div>
                            <!--Sort options-->
                            <div class="sort-options pull-right">
                         
                          
                            </div>
                        </div>

                        <div class="row">

                                {%  for produit in produits %}
                                    <div class="col-md-6 col-xs-6">

                                        <article>
                                            <div class="info">
                                                <span class="add-favorite ">
                                                    <a href="{{ path('app_produit_details', {'categorie': produit.categorie.nom,'id': produit.nom}) }}" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                                                </span>
                                                <span>
                                                    <a href="#productid{{produit.id}}" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                                                </span>
                                            </div>
                                            <div class="btn btn-add">
                                                <i class="icon icon-cart"></i>
                                            </div>
                                            <div class="figure-grid">
                                                <div class="image">
                                                    <a href="#productid{{produit.id}}" class="mfp-open">
                                                    {% if produit.files %}
                                                        <img src="{{ asset('/uploads/' ~ produit.files[0].path)}}" alt="" height="300" />
                                                    {% endif %}
                                                    </a>
                                                </div>
                                                <div style="padding-left:8px;">
                                            
                                                <h2 class="title h4" style="margin-top:8px;margin-bottom:0;padding:0;"><a href="{{ path('app_produit_details', {'categorie': produit.categorie.nom,'id': produit.id}) }}" style="color:#14233c;">{{produit.nom}}</a></h2>

                                                    <span style="color:black;">{{ produit.categorie.nom }}</span>
                                                
                                                    <br> <br>
                                                <span style="color:black;position: absolute;margin-top: -10px; color:#c1002c;font-weight: 500;">Prix {{produit.prix}} DA</span>
                                                <br>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                              {% endfor %}
                              {%  for produit in produits %}
                <div class="popup-main mfp-hide" id="productid{{produit.id}}">

                    <!-- === product popup === -->

                    <div class="product">

                        <!-- === popup-title === -->

                        <div class="popup-title">
                            <div class="h1 title">{{produit.nom}} <small>{{produit.categorie.nom}}</small></div>
                        </div>

                        <!-- === product gallery === -->

                        <div class="owl-product-gallery">
                        {% for image in produit.files %}
                            <img src="{{ asset('/uploads/' ~ image.path)}}" alt="" width="640" />
                  
                            {% endfor %}
                        </div>

                        <!-- === product-popup-info === -->

                        <div class="popup-content">
                            <div class="product-info-wrapper">
                                <div class="row">

                                    <!-- === left-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Maître d'œuvre</strong>
                                            <span>Mobilier Express</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Matériaux</strong>
                                            <span>Wood, Cuir, Acrylique</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Disponibilité</strong>
                                            <span><i class="fa fa-check-square-o"></i> in stock</span>
                                        </div>
                                    </div>

                                    <!-- === right-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Couleurs</strong>
                                            <div class="product-colors clearfix">
                                               
                                                <span class="color-btn color-btn-blue checked"></span>
                                                <span class="color-btn color-btn-green"></span>
                                                <span class="color-btn color-btn-gray"></span>
                                                <span class="color-btn color-btn-biege"></span>
                                            </div>
                                        </div>
                                        <div class="info-box">
                                            <strong>Tailles </strong>
                                            <div class="product-colors clearfix">
                                                <span class="color-btn color-btn-biege">160</span>
                                                <span class="color-btn color-btn-biege checked">180</span>
                                                <span class="color-btn color-btn-biege">200</span>
                                               
                                            </div>
                                        </div>
                                    </div>

                                </div> <!--/row-->
                            </div> <!--/product-info-wrapper-->
                        </div> <!--/popup-content-->
                        <!-- === product-popup-footer === -->

                        <div class="popup-table">
                            <div class="popup-cell">
                                <div class="price">
                                    <span class="h3" style="color:#c1002c;">Prix {{produit.prix}} DA</span>
                                </div>
                            </div>
                            <div class="popup-cell">
                                <div class="popup-buttons">
                                    <a href="{{ path('app_produit_details', {'categorie': produit.categorie.nom,'id': produit.id}) }}"><span class="icon icon-eye"></span> <span class="hidden-xs">Détails</span></a>
                                    <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Commander</span></a>
                                </div>
                            </div>
                        </div>

                    </div> <!--/product-->
                </div> <!--popup-main-->
                {% endfor %}
                            <!-- === product-item === -->


                        </div><!--/row-->
                        <!--Pagination-->
                        <div class="pagination-wrapper">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div> <!--/product items-->

                </div><!--/row-->
                <!-- ========================  Product info popup - quick view ======================== -->

                <div class="popup-main mfp-hide" id="productid1">

                    <!-- === product popup === -->

                    <div class="product">

                        <!-- === popup-title === -->

                        <div class="popup-title">
                            <div class="h1 title">Laura <small>product category</small></div>
                        </div>

                        <!-- === product gallery === -->

                        <div class="owl-product-gallery">
                            <img src="assets/images/product-1.png" alt="" width="640" />
                            <img src="assets/images/product-2.png" alt="" width="640" />
                            <img src="assets/images/product-3.png" alt="" width="640" />
                            <img src="assets/images/product-4.png" alt="" width="640" />
                        </div>

                        <!-- === product-popup-info === -->

                        <div class="popup-content">
                            <div class="product-info-wrapper">
                                <div class="row">

                                    <!-- === left-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Maifacturer</strong>
                                            <span>Brand name</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Materials</strong>
                                            <span>Wood, Leather, Acrylic</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Availability</strong>
                                            <span><i class="fa fa-check-square-o"></i> in stock</span>
                                        </div>
                                    </div>

                                    <!-- === right-column === -->

                                    <div class="col-sm-6">
                                        <div class="info-box">
                                            <strong>Available Colors</strong>
                                            <div class="product-colors clearfix">
                                                <span class="color-btn color-btn-red"></span>
                                                <span class="color-btn color-btn-blue checked"></span>
                                                <span class="color-btn color-btn-green"></span>
                                                <span class="color-btn color-btn-gray"></span>
                                                <span class="color-btn color-btn-biege"></span>
                                            </div>
                                        </div>
                                        <div class="info-box">
                                            <strong>Choose size</strong>
                                            <div class="product-colors clearfix">
                                                <span class="color-btn color-btn-biege">S</span>
                                                <span class="color-btn color-btn-biege checked">M</span>
                                                <span class="color-btn color-btn-biege">XL</span>
                                                <span class="color-btn color-btn-biege">XXL</span>
                                            </div>
                                        </div>
                                    </div>

                                </div><!--/row-->
                            </div> <!--/product-info-wrapper-->
                        </div><!--/popup-content-->
                        <!-- === product-popup-footer === -->

                        <div class="popup-table">
                            <div class="popup-cell">
                                <div class="price">
                                    <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
                                </div>
                            </div>
                            <div class="popup-cell">
                                <div class="popup-buttons">
                                    <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
                                    <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
                                </div>
                            </div>
                        </div>

                    </div> <!--/product-->
                </div> <!--popup-main-->
            </div><!--/container-->
        </section>
    
    </div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>

$(document).ready(function () {


$( ".categorie" ).each(function( index ) {

        $(this).click(function() {
         
                $('#categorie option:selected').val($(this).val());
            
                $( "form" ).submit();
                
        });
if($(this).val() == $('#categorie option:selected').val()){
$(this).attr('checked','checked');
}
              
        
});


        });

	</script>

 {% endblock %}