{% extends 'baseAdmin.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <h1>News index</h1>



	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}
	<div class="app-main">
		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}

		<style>
			form {
				display: contents;
			}
			.select2 {
				width: 100% !important;


				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5;
				color: #495057;
				background-color: #fff;
				background-clip: padding-box;

				border-radius: 0.25rem;
			}
			.page,
			.current,
			.previous,
			.first,
			.next,
			.last {
				border: solid 1px;
				padding: 5px;
				margin: 2px;
			}
		</style>
		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="pe-7s-notebook icon-gradient bg-strong-bliss"></i>
							</div>
							<div>News
								<div class="page-title-subheading">Liste des news</div>
							</div>
						</div>
						<div class="page-title-actions">

							<div class="d-inline-block dropdown">
								<a href="{{ path('app_news_new') }}">
									<button class="btn-shadow btn btn-primary">
										<span class="btn-icon-wrapper pr-2 opacity-7">
											<i class="fa fa-plus fa-w-20"></i>
										</span>
										Ajouter
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tabs-animation">
					<div class="main-card mb-3 card">
						<div class="card-body">
						

							<div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">

								<div class="row">
									<div class="col-sm-12">
										<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.titre }}</td>
              
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_news_show', {'id': news.id}) }}">show</a>
                    <a href="{{ path('app_news_edit', {'id': news.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
									

									</div>
								</div>


							</div>
						</div>
					</div>


				</div>
			</div>

		</div>
	</div>


	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}



